.inner {
    width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.header {
    line-height: 100px;
}

.header h1 {
    width: 100px;
}

.gnb ul {
    gap: 60px;
}

.header .inner {
    justify-content: space-between;
}

.header .inner .gnb>ul li {
    position: relative;
}

.header .inner .gnb ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 3px;
    background: tomato;
    transition: 0.3s;
    font-weight: 400;
}

.header .inner .gnb ul li:hover::after {
    width: 100%;
    font-weight: 500;
    color: tomato;
}

.sec {
    padding: 100px 0;
}

.mainVisual {
    padding: 100px 0;
    position: relative;
    height: 500px;
    background: url(./img/cafe01.jpg) no-repeat center / cover;
}

.mainVisual .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.mainVisual .inner h2 {
    font-size: 70PX;
    font-weight: 700;
    margin: 0 0 20px 0;

}

.mainVisual .inner P {
    font-size: 18PX;
    margin: 0 0 50px 0;
}

.mainContent {
    padding: 100px 0;
}

.mainContent .inner {
    flex-wrap: wrap;
}

.mainContent .cont {
    flex: 1 0 30%;
    text-align: center;
    margin-bottom: 30px 0 60px 0;
}

.mainContent h2 {
    font-size: 35PX;
    font-weight: 500;
    text-align: center;
    margin: 0 0 20px 0;
}


.mainContent P {
    font-size: 14PX;
    font-size: 300;
    text-align: center;
    margin: 0 0 20px 0;
}

.mainContent .inner {
    display: flex;
    gap: 30px;
    margin: 0 auto;
}


.mainContent .inner .contText h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.mainContent .inner .contText p {
    font-size: 15px;
    font-weight: 300;

}

.mainContent figure img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
}

.footer {
    padding: 50px 0;
    text-align: center;
    border-top: 1px solid #eee;
    background: #eee;
}

.footer .list li {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 10px 0;
}

.footer .list li~li::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    background: rgb(206, 206, 206);
    margin: 0 10px;
}